/*table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 10%;
  }
  .i{
    width: 120%;
  }
  .margin{
    margin-top: 5%;
  }*/
  table {
    width: 100%;
  }
  #imgcss
  {
    border-radius: 50%;
  }
  #detailsdiv
  {
    float: left;
  }
  #imgdiv
  {
    float: right;
  }