
      <div id="detailsdiv" >
        <mat-list>
            <mat-list-item>Email Id :- {{u_EmailId}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Name :- {{u_Name}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Address :- {{u_Address}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Type :- {{u_type}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item> Mobile No:- {{u_mobileno}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>User Gender :- {{u_gender}}</mat-list-item>
            <mat-divider></mat-divider>
        </mat-list >
         <div mat-dialog-actions    style="border: 0px;" >
            <button mat-raised-button color="primary" (click)="onCancelClick()">Close</button>
          </div>
        </div>
        
        <div id="imgdiv">
        <mat-list>
        <mat-list-item style="height: 100px;border: 0px;"  >
          <img  height="100px" width="100px"  id="imgcss" src="http://localhost:3000/images/user/{{u_img}}">
        </mat-list-item>
        <mat-divider></mat-divider>
        </mat-list>
        </div>
        
        
        
        
        
        
        
        
         
     

