<h1 style="margin-left: 40%; color: maroon;text-decoration: underline;"> WELCOME:-{{username}}</h1>
<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="4" rowHeight="350px">
    <mat-grid-tile  [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
          <mat-icon>people</mat-icon>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div><p style="color: purple;">CUSTOMER</p>
            <h1>50</h1>
            <p style="color: grey;">INCREASE BY 20%</p>
             </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile  [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
           <mat-icon style="color: orangered;">thumb_up</mat-icon>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div><p style="color: orangered">orders</p>
            <h1>100</h1>
            <p style="color: grey;">INCREASE BY 20%</p>  
             </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile  [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
           <mat-icon style="color:  rgb(6, 46, 179)">delivery_dining</mat-icon>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div><p style="color: rgb(6, 46, 179)">DELIVERY</p>
            <h1>100</h1>
            <p style="color: grey;">INCREASE BY 20%</p>
             </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile  [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
           <mat-icon style="color: green;">account_box</mat-icon>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div><p style="color:green">USER</p>
            <h1>100</h1>
            <p style="color: grey;">INCREASE BY 20%</p>  
             </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div class="grid-container">
    <mat-grid-list cols="2" rowHeight="450px">
      <mat-grid-tile  [colspan]="1" [rowspan]="1">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
             CATEGORY
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <div>
              <div style="display: block;">
                <canvas baseChart 
                  [data]="pieChartData" 
                  [labels]="pieChartLabels" 
                  [chartType]="pieChartType"
                  [options]="pieChartOptions"
                  [plugins]="pieChartPlugins"
                  [legend]="pieChartLegend">
                </canvas>
              </div>   
               </div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile  [colspan]="1" [rowspan]="1">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
             PRODUCT SALE THIS MONTH
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <div>Card Content Here
              <div style="display: block;">
                <canvas baseChart 
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [plugins]="barChartPlugins"
                [legend]="barChartLegend"
                [chartType]="barChartType">
              </canvas>
              </div>   
               </div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <!--</mat-grid-list>
      <div class="grid-container">
        <mat-grid-list cols="2" rowHeight="550px">
          <mat-grid-tile  [colspan]="1" [rowspan]="1">
            <mat-card class="dashboard-card">
              <mat-card-header>
                <mat-card-title>
                 product sale
                </mat-card-title>
              </mat-card-header>
              <mat-card-content class="dashboard-card-content">
                <div style="display: block;">
                  <canvas baseChart 
                    [datasets]="barChartData"
                    [labels]="barChartLabels"
                    [options]="barChartOptions"
                    [plugins]="barChartPlugins"
                    [legend]="barChartLegend"
                    [chartType]="barChartType">
                  </canvas>
                </div>            
                </mat-card-content>
            </mat-card>
          </mat-grid-tile>
        </mat-grid-list>-->  