<mat-card class="c">
<h2>EDIT DELIVERY</h2>
<div class="container">
    <form [formGroup]="deliveryform" (ngSubmit)="onSaveClick()">
      <mat-form-field appearance="fill">
         <input matInput  formControlName="del_id"  placeholder="Enter delivery ID">
         <mat-error *ngIf="deliveryform.get('del_id').hasError('required')&&!deliveryform.get('del_id').pristine">delivery  id is require</mat-error>
        </mat-form-field>
         <mat-form-field appearance="fill">
          <input matInput  formControlName="order_id_fk"  placeholder="Enter deliveryrder_id_fk">
          <mat-error *ngIf="deliveryform.get('order_id_fk').hasError('required')&&!deliveryform.get('order_id_fk').pristine">order id is require</mat-error>
         </mat-form-field>
         <mat-form-field appearance="fill">
          <input matInput  formControlName="del_date"  placeholder="Enter delivery del_date">
          <mat-error *ngIf="deliveryform.get('del_date').hasError('required')&&!deliveryform.get('del_date').pristine">delivery date is require</mat-error>
         </mat-form-field>
         <!--<mat-form-field>
          <input matInput  formControlName="del_status"  placeholder="Enter delivery status">
         </mat-form-field>-->
         <mat-form-field appearance="fill">
          <mat-label>select payment status</mat-label>
          <mat-select formControlName="del_status">
            <mat-option *ngFor="let i of dels" [value]="i" >{{i}}</mat-option>
          </mat-select>
        </mat-form-field>
         <!--<mat-form-field>
          <input matInput  formControlName="emp_id_fk"  placeholder="Enter delivery emp_id_fk">
         </mat-form-field>-->
         <mat-form-field appearance="fill">
          <mat-label>Select employee name</mat-label>
           <mat-select formControlName="emp_id_fk">
                <mat-option *ngFor="let item of obj" [value]="item.emp_id">
                 {{item.emp_name}}
              </mat-option>
           </mat-select>
        </mat-form-field>
         <br><br>
         <button type="submit" class="btn btn-primary">Save</button>
         <button  class="btn btn-primary" (click)="cancle()">cancel</button>
      </form>
    </div>
</mat-card>