<mat-card class="c">
<h2>ADD A NEW DELIVERY</h2>
<div class="container">
    <form [formGroup]="deliveryform" (ngSubmit)="onSaveClick()">
    <!--<mat-form-field appearance="fill">
      <mat-label>ENTER DELIVERY ID</mat-label>
       <input matInput  formControlName="del_id"  placeholder="Enter delivery ID">
       <mat-error *ngIf="deliveryform.get('del_id').hasError('required')&&!deliveryform.get('del_id').pristine">delivery  id is require</mat-error>
      </mat-form-field>-->
       <!--<mat-form-field appearance="fill">
         <mat-label>ENTER ORDER ID</mat-label>
        <input matInput  formControlName="order_id_fk"  placeholder="Enter order_id_fk">
        <mat-error *ngIf="deliveryform.get('order_id_fk').hasError('required')&&!deliveryform.get('order_id_fk').pristine"> order id is require</mat-error>-->
        
        <mat-form-field appearance="fill">
          <mat-label>Select order id </mat-label>
           <mat-select formControlName="order_id_fk">
                <mat-option *ngFor="let item of obj2" [value]="item.order_id">
                 {{item.order_id}}
              </mat-option>
           </mat-select>
        </mat-form-field>

       
       <mat-form-field appearance="fill">
         <mat-label>ENTER DELIVERY DATE</mat-label>
        <input matInput  formControlName="del_date"  placeholder="DD-MM-YY">
        <mat-datepicker-toggle matSuffix ></mat-datepicker-toggle>
       </mat-form-field>

      <!--<mat-form-field appearance="fill">
        <mat-label>Choose a  delivery date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="del_date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>-->


       <!--<mat-form-field>
        <input matInput  formControlName="del_status"  placeholder="Enter delivery status">
       </mat-form-field>-->
       <mat-form-field appearance="fill">
        <mat-label>select payment status</mat-label>
        <mat-select formControlName="del_status" class="color">
          <mat-option *ngFor="let i of dels" [value]="i" >{{i}}</mat-option>
        </mat-select>
      </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Select employee name</mat-label>
           <mat-select formControlName="emp_id_fk">
                <mat-option *ngFor="let item of obj1" [value]="item.emp_id">
                 {{item.emp_name}}
              </mat-option>
           </mat-select>
        </mat-form-field>
      <br><br>
       <!--<button type="submit" class="btn btn-primary">save</button>
       <button  class="btn btn-primary"(click)="cancle()">cancle</button>-->
       <button mat-raised-button color="primary" type="submit" [disabled]="deliveryform.invalid">submit</button>
       <button mat-raised-button color="warn" (click)="cancle()">cancel</button>
    </form>
 </div>
 </mat-card>
