table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 10%;
  }
  .margin{margin-top: 40px;}
  .pending{color: red;}
  .done{color: green;}