<button mat-mini-fab color="accent"(click)="addclik()">
  <mat-icon>add</mat-icon>
</button>
<div class="container">
 <mat-form-field appearance="fill">
      <mat-label>Search</mat-label>
      <mat-icon matPrefix>search&nbsp;</mat-icon>
      <input matInput (keyup)="applyFilter($event)" placeholder="search order" #input>
    </mat-form-field>
    
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>-->
    
        <!-- del id -->
        <ng-container matColumnDef="order_id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>order_id</th>
          <td mat-cell *matCellDef="let row"> {{row.order_id}} </td>
        </ng-container>

        <!--order id _fk-->
        <ng-container matColumnDef="order_date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> order_date </th>
          <td mat-cell *matCellDef="let row"> {{row.order_date}} </td>
        </ng-container>

        <!--order id _fk-->
        <ng-container matColumnDef="order_amount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> order_amount </th>
          <td mat-cell *matCellDef="let row"> {{row.order_amount | currency:'INR'}} </td>
        </ng-container>
  
        <!--order id _fk-->
        <ng-container matColumnDef="product_id_fk">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> product_id_fk</th>
          <td mat-cell *matCellDef="let row"> {{row.product_id_fk}} </td>
        </ng-container>
  
        <!--order id _fk-->
        <ng-container matColumnDef="user_name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>user_name </th>
          <td mat-cell *matCellDef="let row"> {{row.user_name}} </td>
        </ng-container>

        <ng-container matColumnDef="payment_type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>payment_type</th>
            <td mat-cell *matCellDef="let row"> {{row.payment_type}} </td>
          </ng-container>

          <ng-container matColumnDef="payment_status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> payment_status </th>
            <td mat-cell *matCellDef="let row"> {{row.payment_status}} </td>
          </ng-container>
        
         <ng-container  matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>DELETE RECORD</th>
          <td mat-cell *matCellDef="let row;let i=index">
           <button mat-icon-button color="accent" (click)="ondelete(row,i)">
              <mat-icon>delete</mat-icon>
            </button>
            </td> 
         </ng-container>
         
         
         <ng-container  matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef>EDIT RECORD </th>
          <td mat-cell *matCellDef="let row;let i=index">
            <button mat-icon-button color="accent"(click)="edit(row,i)">
              <mat-icon>edit</mat-icon>
            </button> 
             </td> 
         </ng-container>   
  
         <!--<ng-container  matColumnDef="add">
          <th mat-header-cell *matHeaderCellDef>ADD NEW RECORD</th>
          <td mat-cell *matCellDef="let row;let i=index">
            <button mat-mini-fab color="accent"(click)="addclik()">
              <mat-icon>add</mat-icon>
            </button> 
             </td> 
         </ng-container>--> 
  
        
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
        <!-- Row shown when there is no matching data. -->
     <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>
    
     <mat-paginator [pageSizeOptions]="[5,10,25,100]"></mat-paginator>
    </div>
   </div> 
    
  