tr:hover
  {
    background-color:gray;
  }
  
  th{
    width: 17%;
    background-color:darkkhaki;
    color:black;
    font:bold;
  }
  
  #search
  {
    width: 100%;
    margin-left: 10px;
  }
  
  #tableChange
  {
    margin-top: -20px;
  }
  #manage
  {
    margin-top: 10px;
  }
  
  #addbtnstyle
  {
    bottom: 50px;
    margin-left: 1650px;
  }