.row g-3{
  border: solid;
  padding-left: 20px;
}
body{background: url('C:\Users\BHAUTIK\angular_cli/bhautik5.jpg');
     background-repeat: no-repeat;
     background-size: 100% 100%;
}
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 65%;
  padding-left: 420px;
}
.b
{
  margin-left: 27.5%;
  width: 37.5%;
}

td, th {
  width: 25%;
}
h2{
margin-left: 45%;
text-decoration: underline;
color: darkblue;
}