
html{
    background-color:rgb(121, 88, 38)
 }
  .mat-form-field {
    font-size: 14px;
    width: 48%;
  }
 
  h2{
    text-align: center;
    color: darkorchid;
    text-decoration: underline;
  }
  .c {
    border: solid;
    border-color: gray;
    width: 600px;
    margin-top: 100px;
    margin-left: 450px;
    margin-right: 250px;
}
button{
    margin-left: 250;
}
  