.row g-3{
  border: solid;
  padding-left: 20px;
}
body{background: url('C:\Users\BHAUTIK\angular_cli/bhautik5.jpg');
     background-repeat: no-repeat;
     background-size: 100% 100%;
}
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 65%;
  padding-left: 420px;
}
.b
{
  margin-left: 27.5%;
  width: 37.5%;
}

td, th {
  width: 25%;
}
h2{
margin-left: 45%;
text-decoration: underline;
color: darkblue;
}
/*:host {
  display: flex;
  justify-content: center;
  margin: 0px;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

 .error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
} 
.button {
  display: flex;
  justify-content: flex-end;
}*/