<mat-card class="c">
<h2>ADD A NEW CATEGORY</h2>
<div class="container">
 <form [formGroup]="catform" (ngSubmit)="onSaveClick()">
       <mat-form-field appearance="fill">
         <mat-label>CATEGORY ID</mat-label>
         <input matInput  formControlName="cat_id"  placeholder="Enter Category ID">
         <mat-error *ngIf="catform.get('cat_id').hasError('required')&&!catform.get('cat_id').pristine">category  id is require</mat-error>
        </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>CATEGORY NAME</mat-label>
         <input matInput  formControlName="cat_name"  placeholder="Enter Category cat_name">
         <mat-error *ngIf="catform.get('cat_name').hasError('required')&&!catform.get('cat_name').pristine">category name</mat-error>
        </mat-form-field>
         <br><br>
         <button mat-raised-button color="primary" type="submit" [disabled]="catform.invalid">submit</button>
         <button mat-raised-button color="warn" (click)="cancle()">cancel</button>
         </form>
    </div>
</mat-card>