table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 15px;
    width: 80%;
  }
  
  td, th {
    width: 20%;
  }
  .margin{margin-top: 40px;}
  body{
    background-color:whitesmoke;
  }
  