<mat-card class="c">
  <h2>EDIT EMPLOYEE</h2>
<div class="container">
    <form [formGroup]="empform" (ngSubmit)="onSaveClick()">
      <mat-form-field appearance="fill">
         <input matInput  formControlName="emp_id"  placeholder="Enter emp ID">
        </mat-form-field>
         <mat-form-field appearance="fill">
          <input matInput  formControlName="emp_name"  placeholder="Enter emp name">
         </mat-form-field>
          <mat-form-field appearance="fill">
          <input matInput  formControlName="emp_email"  placeholder="Enter emp email">
         </mat-form-field>
         <mat-form-field appearance="fill">
          <input matInput  formControlName="emp_salary"  placeholder="Enter emp salary">
         </mat-form-field>
         <mat-form-field appearance="fill">
          <input matInput  formControlName="emp_join_date"  placeholder="Enter emp join date">
         </mat-form-field>
         <br><br>
         <!--<button type="submit" class="btn btn-primary">Save</button>
         <button class="btn btn-primary" (click)="cancle()">cancle</button>-->
         <button mat-raised-button color="primary" type="submit" [disabled]="empform.invalid">submit</button>
         <button mat-raised-button color="warn" (click)="cancle()">cancle</button>
      </form>
    </div>
    </mat-card>