 <mat-list>
  <!--<mat-list-item> Product Id :- {{pro_id}}</mat-list-item>-->
  <mat-divider></mat-divider>
  <mat-list-item>Product Name :- {{pro_name}}</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>Product Price :- {{pro_price}}</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>Product Color :- {{pro_color}}</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>Product garranty :- {{pro_garr}}</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>Product warranty :- {{pro_warr}}</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item style="height: 50px;">Product MFG Date:- {{pro_mfg}}</mat-list-item>
  <mat-divider></mat-divider>

  <mat-list-item><img src="http://localhost:3000/images/product/{{pro_img}}" alt="Image Not Found" width="50px"
      height="50px">
  </mat-list-item>

  <!--<mat-divider></mat-divider>
  <mat-list-item>
    <div *ngFor="let item of arr" style="border:1px solid black;margin-left: 1%;">
      <img src="http://localhost:3000/images/product_images/{{item.photo}}" alt="Image Not Found" width="50px"
        height="50px">
    </div>
  </mat-list-item>-->

  <mat-divider></mat-divider>
  <mat-list-item style="height: 100px;">Product Information :- {{pro_info}}</mat-list-item>
  <mat-divider></mat-divider>
</mat-list>
<div mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Cancel</button>
</div>


