table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 75%;
  }
  
  td, th {
    width: 20%;
  }
  button{
    margin: 5px;
  }
  h2{
    text-align: center;
    color: darkorchid;
    text-decoration: underline;
  }
  .c {
    border: solid;
    border-color: gray;
    width: 1000px;
    margin-top: 100px;
    margin-left: 250px;
    margin-right: 250px;
    
  }